body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.video-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* 調整為畫面寬度的70% */
    max-width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

video {
    width: 100%;
    height: auto;
    max-height: 80vh;
    border: 2px solid #007bff;
}

.button-container img {
    width: 80px; /* 設置固定的寬度 */
    height: auto;
    max-height: 25vh; /* 確保圖片高度不超過視窗的四分之一 */
    border: 2px solid #007bff;
}
